<div class="container">
  <div class="asian-persuation">
    <div class="col-sm-10 asian-section1">
      <p class="float-left">BRISBANE</p >
      <p class="float-left text1">SYDENY</p >
      <p class="float-left text1">MELBOURNE</p >
      <p class="float-left text1">ADELAIDE</p >
      <p class="float-left text1">PERTH</p >
    </div>
  </div>
</div>
